<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :Titulo, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, class: "form-control"  %>
  </div>
  <div class="mb-3">
    <%= form.label :imagen, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="d-flex justify-content-between ">
    <%= link_to "Volver a las noticias", root_path, class: "btn btn-secondary mt-3" %>
    <%= form.submit "Guardar", class: "btn btn-success mt-3" %>
  </div>
<% end %>
