<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <%= link_to "Volver a las publicaciones", root_path, class: "btn btn-color mb-3" %>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <% if @post.user.profile_image.attached? %>
              <%= image_tag @post.user.profile_image, class: "img-fluid profile-image rounded-image m-1" %>
            <% else %>
              <%= image_tag "default_profile_image.png", class: "rounded-image" %>
            <% end %>
            <h class="card-title"><%= @post.user.name %></h6>
            <h5 class="card-title"><%= @post.title %></h5>
            <% if @post.image.attached? %>
              <div class="text-center">
                <%= image_tag @post.image, class: "img-fluid mb-3" if @post.image.attached? %>
              </div>
            <% end %>
            <h6 class="card-title">Comentario: </h6>
            <p class="card-text"><%= @post.content %></p>
            <div style="margin-left: 40px;">
              <%= render 'reactions/options', post: @post %>
            </div>
            <div class="d-flex justify-content-end">
              <% if user_signed_in? && current_user.admin? || current_user == @post.user %>
                <%= link_to "Editar publicación", edit_post_path(@post), class: "btn btn-outline-warning btn-sm me-2 mt-5" %>
                <%= button_to "Eliminar publicación", @post, method: :delete, class: "btn btn-outline-danger btn-sm mt-5" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @post.comments.present? %>
    <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Comentarios:</h5>
              <% @post.comments.each do |comment| %>
                <div class="card mb-2">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <% if comment.user.present? && comment.user.profile_image.attached? %>
                        <%= image_tag comment.user.profile_image, class: "img-fluid profile-image rounded-image m-1" %>
                      <% else %>
                        <%= image_tag "default_profile_image.png", class: "img-fluid profile-image rounded-image m-1" %>
                      <% end %>
                      <p class="card-text ml-3"><strong> <%= comment.user ? comment.user.name : "Anónimo" %></strong></p>
                    </div>
                    <p class="card-text"><%= comment.content %></p>
                    <div>
                      <%= render 'reactions/options', comment: comment %>
                    </div>
                    <% if current_user&.admin? || (current_user && comment.user == current_user) %>
                      <div class="d-flex justify-content-end">
                        <%= button_to "Eliminar comentario", [@post, comment], method: :delete, class: "btn btn-outline-danger btn-sm mt-3" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Comentarios: </h5>
              <p class="card-text mt-2">No hay comentarios disponibles.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="mt-3">
    <% if user_signed_in? %>
      <%= render partial: "posts/form_comment", locals: { comment: Comment.new, style: "width: 100%;"} %>
    <% else %>
      <%= render partial: "posts/form_comment_anonymous", locals: { comment: Comment.new, style: "width: 100%;"} %>
    <% end %>
  </div>
</div>
