<!DOCTYPE html>
<html>
  <head>
    <title>Crazy4Cats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" %>
    <%= stylesheet_link_tag "custom_styles" %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <!-- Imagen izquierda -->
        <div class="col-md-2 left-image"></div>
        <!-- Contenido principal -->
        <div class="col-md-8 main-content">
          <p style="color: green"><%= notice %></p>
          <p style="color: red"><%= alert %></p>
          <%= yield %>
        </div>
        <!-- Imagen derecha -->
        <div class="col-md-2 right-image"></div>
      </div>
    </div>
    <footer class="footer text-center">
      <div class="text-center p-3">
        © 2020 Copyright:
        <a class="text-dark" href="https://github.com/kenomun/Crazy4Cats">Eugenio Muñoz</a>
      </div>
    </footer>
  </body>
</html>
